.card{
    position: relative;
}
.person-social{
    position: absolute;
    left:50%;
    top:50%;
    z-index: -1;
    transform: translate(-50%,-50%);
}
.person-social ul{
    margin: 0;
}
.person-photo{
    width: 100%;
    position: relative;
}
.person-photo img{
    height:300px;
    object-fit: cover;
}
.person-image{
    margin-bottom: 0;
}
.card-info{
    background-color: #e1e6ea;
    padding: 15px;
}
.card-info-negative{
    background-color: transparent;
    padding: 20px 0px;
    color:white;
}
.card-title{
    color: #292f36;
    font-family: "Quattrocento Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}
.card-title-negative{
    color:white;
}
.card-desc{
    color: #8d8f92;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
}
.person-card:hover .person-social{
    z-index: 0;
    
}
.person-card:hover{
    cursor: pointer;
}
.person-card:hover .person-image img{
    opacity: 0.4;
}
.person-card:hover .card-info{
    background-color:#3a454d;
}
.person-card:hover .card-title{
    color:white;
}
.person-card:hover .card-desc{
    color:white;
}
.work-image img{
    height: 265px;
    object-fit: cover;
}
.work-desc{
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    color: #ffffff;
    font-family: "Quattrocento Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    padding: 10px;
    background-color: #292f36;
    width: 100%;
}
.work-info{
    margin:0;
}
.plus{
    position: absolute;
    left:50%;
    top:40%;
    z-index: -1;
    transform: translate(-50%,-50%);
    color:white;
    font-family: "Quattrocento Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
}
.work-card:hover .plus{
    z-index: 0;
}
.work-card:hover .work-desc{
    z-index: 0;
}
.work-card:hover img{
    opacity: 0.4;
}
.work-card:hover{
    cursor: pointer;
}
.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    padding-top: 30px;
}
.service-image{
    width: 48px;
    height:48px;
    margin-bottom: 30px;
}
.service-image-sm{
    width: 32px;
    height:48px;
    margin-bottom: 30px;
}
.service-image img{
    display: block;
    height: 48px;
    object-fit: cover;
}
.servise-image-sm img{
    display: block;
    height: 48px;
    object-fit: cover;
    width:100%;
   }
   .service-icon{
       font-family: 'icomoon';
       font-size: 48px;
       color:#23b7a4;
       margin-bottom: 30px;
   }
.card-service-title{
       margin-bottom: 15px;
   }
.card-service-desc{
    text-align: center;
}
.feature-card{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.feature-card-title{
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.feature-image{
    width:100%;
}
.feature-image img{
    height: 240px;
    object-fit: cover;
    margin:0;
}
.map{
    width:100%;
}
.map img{
    width:100%;
    height:346px;
    object-fit: cover;
    z-index:-1;
}