.hero-section{
    padding-top: 0;
    position: relative;
    height: 660px;
}
.hero-container{
    width:650px;
    margin:0;
    justify-content: center;
    height: 660px;
}
.hero-background{
   position:absolute;
   left:0;
   right:0;
   top:0px;
   bottom: 0px;
   z-index: -2;
}
.hero-background img{
    width: 100%;
    height:660px;
    object-fit: cover;
}
.hero-overlay{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index: -1;
    background-color:rgba(58,69,77,0.5);
}
.hero-foreground
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 1140px;
    margin:0 auto;
}
.hero-title{
    color: #ffffff;
    font-family: "Quattrocento Sans";
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0;
}
.hero-description{
    color: #ccd0d7;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}