.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item{
    color: #a4aead;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 0px 10px;
    border-radius: 5px;
}
.menu-item.active:hover{
    border: 2px solid #23b7a4;
    color:#23b7a4;

}
.menu-item:last-child{
    padding-right: 0;
}
.menu-item:hover{
    border: 2px solid #5b6168;
}
.menu-item:active, .active{
    border: 2px solid #23b7a4;
    color:#23b7a4;
}